# for all subdirectories
Makefile.in
Makefile
.libs
.deps
*.o
*.lo
*.la
*.pc
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles

# autofoo stuff here
compile
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh
glib-gettextize
glib-zip
glibconfig.h
gtk-doc.make
glibconfig.h.win32

INSTALL
README
ChangeLog
