gapplication
gconstructor_as_data.h
gdbus
objectmanager-gen-org.gtk.GDBus.Example.ObjectManager.Animal.xml
objectmanager-gen-org.gtk.GDBus.Example.ObjectManager.Cat.xml
objectmanager-gen.[ch]
gdbus-daemon-generated.[ch]
gio
gio_probes.h
gio-marshal.[ch]
gio-public-headers.txt
gio-querymodules
gioenumtypes.[ch]
glib-compile-resources
glib-compile-schemas
gnetworking.h
gresource
gschema-compile
gsettings
xdp-dbus.[ch]
