gschema-compile
gio-querymodules
gio-marshal.[ch]
gioenumtypes.[ch]
glib-compile-resources
glib-compile-schemas
gdbus
gsettings
gdbus-example-objectmanager-generated.[ch]
gdbus-example-objectmanager-generated-org.gtk.GDBus.Example.ObjectManager.Animal.xml
gdbus-example-objectmanager-generated-org.gtk.GDBus.Example.ObjectManager.Cat.xml
gio-public-headers.txt
