gconstructor_as_data.h
gdbus
gdbus-example-objectmanager-generated-org.gtk.GDBus.Example.ObjectManager.Animal.xml
gdbus-example-objectmanager-generated-org.gtk.GDBus.Example.ObjectManager.Cat.xml
gdbus-example-objectmanager-generated.[ch]
gdbus-daemon-generated.[ch]
gio-marshal.[ch]
gio-public-headers.txt
gio-querymodules
gioenumtypes.[ch]
glib-compile-resources
glib-compile-schemas
gnetworking.h
gresource
gschema-compile
gsettings
gapplication
